<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vtrifonov.geekhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vtrifonov.geekhub.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vtrifonov.geekhub.TaskOneActivity"
            android:label="@string/task_1" />
        <activity
            android:name="com.vtrifonov.geekhub.MessageActivity"
            android:label="@string/task_1" />
        <activity
            android:name=".TaskTwoActivity"
            android:label="@string/task_2" />
        <activity
            android:name=".TaskThreeActivity"
            android:label="@string/task_3" />
    </application>

</manifest>
